<style>
.btnSearch{
    background-color: #fe424d;
    color: #fff;
    width: 10rem;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

.btnSearch:hover{
    background-color: #fe424d;
    color: #fff;
  }

.btnSearch i{
    display : inline;
  }

.searchInput{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
  width: 18rem;
}

/* Responsive navbar adjustments for small screens */
@media (max-width: 576px) {
  nav.navbar {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-nav {
    flex-direction: column !important;
    align-items: center;
  }
  .navbar-nav .nav-link {
    padding: 0.25rem 0 !important;
  }
  .navbar-nav.ms-auto {
    margin-top: 0.5rem;
  }
  .d-flex {
    flex-direction: column !important;
    align-items: stretch;
  }
  .searchInput {
    width: 100% !important;
    margin-bottom: 0.5rem;
  }
  .btnSearch {
    width: 100% !important;
  }
}
</style>

<div class="d-md-none text-center py-2 bg-light" style="width: 100%; color: red; font-weight: bold; font-size: 2rem; margin: 0 auto;">WonderLust</div>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
    </div>

    <div class=" navbar-nav ms-auto">
      <form class="d-flex" role="search" action="/listings" method="GET">
        <input class="form-control me-2 searchInput" type="search" name="search" placeholder="Search Destination"/>
        <button class="btn btnSearch" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Search </button>
      </form>
    </div>

    <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">AirBnb your home</a>
          <% if(! currUser ) { %>
              <a class="nav-link " aria-current="page" href="/signup"><b>Sign up</b></a>
              <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>

          <% if( currUser ) { %>
              <a class="nav-link" href="/logout">Log out</a>
          <% } %>
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
      
    </div>
  </div>
</nav>