<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3" >
<div class="alert alert-danger" role="alert" class="col-md-8 offset-md-2  ">
            Error!  please enter a valid data <br>
            Because ->
            <p><%= err.message %></p>
        </div>
    </div>
</body>
