<% layout("/layouts/boilerplate") %>
<style>
#filters{
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-top: 1rem;
    margin-left: 2rem;
    opacity: 0.6;
}
.filter:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

.tax-info{
    display: none;
}

.show-filters{
    margin-top: 1.5rem;
}
.tax-toggle{
    display: flex;
    border : 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    width: 13rem;
    padding: 1rem;
    margin-left: 5rem;
    align-items: center;
}
.filterElement{
    display: flex;
}
</style>

<div class="show-filters">
<button class="btn btn-outline-secondary d-md-none mb-2" data-bs-toggle="collapse" data-bs-target="#filters">Show Filters</button>
</div>

 <div id="filters" class="collapse d-md-flex">
    <div class="filterElement">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Bedrooms</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Cabins</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Pool</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-building"></i></div>
        <p>Iconic Cities</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-newspaper"></i></div>
        <p>Amazing News</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Cabins</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-hospital"></i></i></div>
        <p>Hospital-facility</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-trophy"></i></div>
        <p>Game-Zone</p>
    </div>

   </div>

   <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="switchCheckReverse">
            <label class="form-check-label" for="switchCheckReverse">Display Taxes</label>
        </div>
    </div>
 </div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
<!-- for show listings as card -->
 <br><br>
<% for(let listing of allListing) { %>
 <a href="/listings/<%= listing._id %>" class="listing-link">
       <div class="card col listing-card" style="width: 25rem;">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
        <div class="card-img-overlay"></div>
        <div class="card-body">
            <p class="card-text">
               <b> <%= listing.title %>  </b>
                <br>
                &#8377;<%=  listing.price.toLocaleString("en-IN") %>/night
                &nbsp; &nbsp;<i class="tax-info">+ 18% GST</i>

            </p>
        </div>
    </div>
 </a>
<% } %>


</div>

<!-- because nav bar do this button work so there is no need of this button;
<form method="GET" action="/listings/new">
    <button>Add New Destination</button>
</form> -->

<script>
    let ShowTaxBtn = document.getElementById("switchCheckReverse");
    ShowTaxBtn.addEventListener("click",()=>{
        let taxinfo = document.getElementsByClassName("tax-info");
            for(info of taxinfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                }else{
                    info.style.display = "none";
                }
            }
    });
</script>
